body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;     
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    background-color: cyan;   
}

.linki {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.linki a {
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

.linki a:hover {
    text-decoration: underline;
}

.odniesienie {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
    background-color: lightgrey;
}
